.postPicture {
  width: 100%;
  border-radius: 15px;
}
.modalFooter {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-start;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(0.3rem - 2px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}

.btn-footer {
  display: flex;
  flex-direction: row;
}

.edit-btn {
  height: 1em;
  width: 1em;
}

.right-menu {
  display: flex;
}
/* 
.btn-edit {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: #000;
  background: transparent center/1em auto no-repeat;
  border: 0;
  border-radius: 0.25rem;
  opacity: 0.5;
  padding: 0.5rem 0.5rem;
  margin: -0.5rem 0.5rem -0.5rem auto;
} */
.btn-light {
  margin-right: 5px;
}
