.main-header {
    display: flex;
    justify-content: space-between;
    height: 92px;
    align-items: center;
    background-color: #ffffff;
    /* box-shadow: 0px 10px 24px 8px white; */
}

.header-name {
    color: #33a2e5;
    width: 60%;
    font-weight: bold;
    font-size: 2rem;
}

.header-left {
    display: flex;
    justify-content: center;
    width: 20%;
}

.header-right {
    display: flex;
    justify-content: center;
    width: 20%;
    color: #33a2e5;
}

.header-right > button {
    border: 1px solid #33a2e5;
    border-radius: 8px;
    margin: 0 7px;
    color: #33a2e5;
}

.header-profile {
    color: #33a2e5;
    font-weight: bold;
    padding-left: 30px;
    font-size: 2rem;
    padding-right: 25px;
}
